<!DOCTYPE html>
<html>
<head>
<title>Vestito</title>
<link rel="stylesheet" href="/stile.css?version=2" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
<div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
<h1>Vestiti che soddisfano i requisiti</h1>
<div th:if="${dresses.isEmpty()}">Non ci sono vestiti che soddisfano i requisiti</div>
<ul th:if="${!dresses.isEmpty()}">
<li th:each="dress : ${dresses}">
<a href="dress.html" th:href="@{'/dresses' + '/' + ${dress.id}}"
th:text="${dress.nome} + ' (' + ${dress.prezzo}+')'">Up! (2000)</a>
</li>
</ul>
</body>
</html>